/**
 * Visibility helpers
 */
.hidden-xs-up {
  display: none !important;
}
@media (--media-xs-max) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (--media-sm-min) {
  .hidden-sm-up {
    display: none !important;
  }
}
@media (--media-sm-max) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (--media-md-min) {
  .hidden-md-up {
    display: none !important;
  }
}
@media (--media-md-max) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (--media-lg-min) {
  .hidden-lg-up {
    display: none !important;
  }
}
@media (--media-lg-max) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (--media-xl-min) {
  .hidden-xl-up {
    display: none !important;
  }
}
@media (--media-xl-max) {
  .hidden-xl-down {
    display: none !important;
  }
}

@media (--media-xxl-min) {
  .hidden-xxl-up {
    display: none !important;
  }
}
.hidden-xxl-down {
  display: none !important;
}

.invisible {
  visibility: hidden;
}
